config.json
__pycache__
dist
build
*.spec
dialog_data.json
*.csv
*.json
*.jsonl
*.mp3
log
templates
tarot_gpt_client
openssl
ssl/*

server_tornado_async*.py

!character_setting.json
!character_setting(sample).json
!config(sample).json
!other_prompts.json
!other_settings.json
!novel_data.json
!relationship_prompts.json
!chains.json